body {
	background-color: #EEEEEE;
	margin: 0;
  background-image: url("background.jpg");
}

/********LOGO************/
#logo{
  width: 125px;
  height: auto;
  position: relative;
  left: 550px;
  top: 5px;
}

/******HEADER/NAV*********/

header {
  overflow: auto;
  width: 100%;
  background-color: #2E2E2E;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.5);
  position: fixed;
}

header h1 {
  margin: 0;
  color: #F7CA18;
  font-size: 16pt;
  /*display: inline;*/
  text-align: center;
  font-family: 'Lato', sans serif; 
}

header nav {
  overflow: auto;
}

ul {
	float: right;
  list-style-type: none;
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none; 
  color: #fff;
  font-size: 18px;
  font-family: arial;
  font-weight: bold;
  margin: 0 15px 0 0;
}

ul li a:hover {
  color: #F7CA18;
  border-bottom: 2px solid #F7CA18;
}

.active {
  color: #F7CA18;
  border-bottom: 2px solid #F7CA18;
}
