body {
    /* Without this, the body has excess horizontal scroll when the menu is open */
  overflow-x: hidden;
}

.navigation {
  /* critical sizing and position styles */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  
  /* non-critical appearance styles */
  background: #F7CA18;
}

.navigation span p {
  margin: 10px 10px 10px 50px;
  font-weight: bold;
  font-family: Arial;
  color: #4d90fe;
}

#reg {
  margin: 10px 10px 10px 50px; 
  width: 150px;
  height: 35px;
  background-color: #4d90fe;
  color: #fff;
  font-family: Arial;
  font-size: 10pt;
  border-radius: 3px;
  border: 1px solid #3079ed;
}

#reg:hover{
  background: -webkit-linear-gradient(90deg, #4d90fe 10%, #3079ed 90%); /* Chrome 10+, Saf5.1+ */
  border: 1px solid #4d90fe;
  cursor: pointer;
}

/*Mobile Nav */
.navigation ul {
  display: none;
}

.navigation li{
  width: 250px;
  border-bottom: 1px solid #000; 
}

.mobileNav {
  display: block;
  text-align: center;
  font-family: Arial;
  font-weight: bold;
  text-decoration: none;
  background: -webkit-linear-gradient(90deg, #F5D76E 10%, #F4D03F 90%); /* Chrome 10+, Saf5.1+ */;
  color: #000;
  padding: 1em;
}

.mobileNav:hover{
  color: #fff;
  background: #2E2E2E;
  -webkit-transition: .75s;
}

/*Login/Registration*/
.login {
  margin: 10px 10px 10px 50px;
  height: 35px;
  width: 150px;
  font-size: 10pt;
  font-family: Arial;
  border-radius: 4px;
  border: 1px solid #fff;
}

#signIn {
  margin: 10px 10px 10px 50px; 
  width: 150px;
  height: 35px;
  background-color: #4d90fe;
  color: #fff;
  font-family: Arial;
  font-size: 10pt;
  border-radius: 3px;
  border: 1px solid #3079ed;
}

#signIn:hover{
  background: -webkit-linear-gradient(90deg, #4d90fe 10%, #3079ed 90%); /* Chrome 10+, Saf5.1+ */
  border: 1px solid #4d90fe;
  cursor: pointer;
}

span {
  display: block;
}
/********NAV**********/

header nav {
  top: 25px;
  right: 25px;
  position: fixed;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none; 
  color: #fff;
  font-size: 18px;
  font-family: Arial;
  font-weight: bold;
  margin: 0 15px 0 0;
}

nav ul li a:hover {
  color: #F7CA18;
  border-bottom: 2px solid #F7CA18;
}

.active {
  color: #F7CA18;
  border-bottom: 2px solid #F7CA18;
}

/*******TITLE*********/

#mainImg {
  width: 850px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 50px;
 /* opacity: 0.5;*/
  z-index: -1;
}

/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
  background-color: white; /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  
  /* non-critical apperance styles */
  padding: 4em;
  background-color: #2E2E2E;
  background-attachment: fixed;
  background-size: 100% 100vh;
}

/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  /* critical positioning styles */
  position: fixed;
  left: 15px; top: 15px;
  z-index: 2;
  
  /* non-critical apperance styles */
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("menu.png");
  background-size: 30px 30px;
}

/* Make the Magic Happen */
.nav-trigger + label, .site-wrap {
  -webkit-transition: left 0.2s;
  transition: left 0.2s;
}

.nav-trigger:checked + label {
  left: 250px;
}

.nav-trigger:checked ~ .site-wrap {
  left: 250px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}


/* Mobile layout */


@media screen and (max-width: 768px) {
  .navigation ul {
    display: block;
  }

  nav {
    display: none;
  }

  #mainImg {
    position: relative;
    width: 100%;
  }
}

/* Micro reset */
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}
html, body { height: 100%; width: 100%; font-family: Helvetica, Arial, sans-serif; }
